[submodule "extract-parameter-list-from-function"]
	path = extract-parameter-list-from-function
	url = git@github.com:volkovasystems/extract-parameter-list-from-function.git
[submodule "camelize-namespace"]
	path = camelize-namespace
	url = git@github.com:volkovasystems/camelize-namespace.git
[submodule "parse-command-argument-list"]
	path = parse-command-argument-list
	url = git@github.com:volkovasystems/parse-command-argument-list.git
